<div>
  <div>
    <%= f.label :minimum_order %> <br>
    <%= f.text_field :minimum_order %>
  </div>
  <div>
    <%= f.fields_for :business_days, @business_days do |bd| %>
      <%= bd.label :day, bd.object.day %>
      <%= bd.hidden_field :day, value: bd.object.day %>
      <%= bd.select :opening_time, available_hours %>
      <%= bd.select :closing_time, available_hours %>
      <br>
    <% end %>
  </div>
</div>
