<h3 class="page-heading">Edit Account</h3>

<%
  user_type = resource.role.class.name.downcase
%>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= my_devise_error_messages! %>

  <div class="row">
    <div class="col-xs-5">
      <%= f.label :email, class: 'form-label' %>
    </div>
    <div class="col-xs-7">
      <%= f.email_field :email, autofocus: true %>
    </div>
  </div>
  <br>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>
      Currently waiting confirmation for: <%= resource.unconfirmed_email %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-5">
      <%= f.label :password, class: 'form-label' %>
    </div>
    <div class="col-xs-7">
      <%= f.password_field :password, autocomplete: "off" %>
      <i class='form-note'>(leave blank if you don't want to change it)</i>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-5">
      <%= f.label :password_confirmation, class: 'form-label' %>
    </div>
    <div class="col-xs-7">
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-5">
      <%= f.label :current_password, class: 'form-label' %>
    </div>
    <div class="col-xs-7">
      <%= f.password_field :current_password, autocomplete: "off" %>
      <i class="form-note">(we need your current password to confirm your changes)</i><br />
    </div>
  </div>
  <br>

  <%= render 'shared_user_info', f: f, user_type: user_type %>

  <div class="form-submit"><%= f.submit 'update account', class: 'btn btn-primary' %></div>
<% end %>
<br>

