<h3 class="page-heading">Sign up</h3>
<%
  if params.has_key?(:user) && params[:user].has_key?(:user_type) && User::USER_TYPES.include?(params[:user][:user_type].downcase)
    user_type = params[:user][:user_type].downcase
  else
    user_type = "farm"
  end

  resource.role = user_type.camelize.constantize.new if resource.role.nil?
%>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= my_devise_error_messages! %>

  <div class="row">
    <div class="col-xs-5">
      <%= f.label :email, class: 'form-label' %>
    </div>
    <div class="col-xs-7">
      <%= f.email_field :email, autofocus: true %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-5">
      <%= f.label :password, class: 'form-label' %>
    </div>
    <div class="col-xs-7">
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-5">
      <%= f.label :password_confirmation, class: 'form-label' %>
    </div>
    <div class="col-xs-7">
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  </div>
  <br>

  <%= render 'shared_user_info', f: f, user_type: user_type %>

  <%= hidden_field :user, :user_type, value: user_type %>

  <div class="form-submit"><%= f.submit 'sign up', class: 'btn btn-primary' %></div>
<% end %>

<%= render "devise/shared/links" %>
