<h2>Sign up</h2>
<div class="signup">
<%
  if params.has_key?(:user) && params[:user].has_key?(:user_type) && User::USER_TYPES.include?(params[:user][:user_type].downcase)
    user_type = params[:user][:user_type].downcase
  else
    user_type = "farm"
  end

  resource.role = user_type.camelize.constantize.new if resource.role.nil?
%>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= my_devise_error_messages! %>

  <div>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div>
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <%= render 'shared_user_info', f: f, user_type: user_type %>

  <%= hidden_field :user, :user_type, value: user_type %>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>
