<h3 class="page-heading">Forgot your password?</h3>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="row">
    <div class="col-xs-5">
      <%= f.label :email, class: 'form-label' %>
    </div>
    <div class="col-xs-7">
      <%= f.email_field :email, autofocus: true %>
    </div>
  </div>
  <br>
  <div class="form-submit"><%= f.submit 'send me password reset instructions', class: 'btn btn-primary' %></div>
<% end %>
<br>
<%= render "devise/shared/links" %>
