<h3> New Posting For <%= name_and_variety_to_s(@product.name, @product.variety) %></h3>

<p><%= @product.description %></p>

<% if @product.active_postings.present? %>
  <table>
    <thead>
      <th>starting quantity</th>
      <th>quantity remaining</th>
      <th>price per unit</th>
      <th>post date</th>
      <th>expiration date</th>
      <th>total value</th>
    </thead>
    <tbody>
    <% @product.active_postings.each do |posting| %>
    <tr>
      <td><%= quantity_to_s(posting.quantity, posting.unit) %></td>
      <td></td>
      <td><%= number_to_currency(posting.price_per_unit) %></td>
      <td><%= posting.starting_date %></td>
      <td><%= posting.expiration_date %></td>
      <td><%= number_to_currency(posting.total_value) %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>No active postings</p>
<% end %>

<%= form_for [@product, set_posting_default_price_and_unit(@posting)] do |f| %>
  <%= f.label :quantity%><br>
  <%= f.text_field :quantity%>
  <br>
  <%= f.label :unit %><br>
  <%= f.text_field :unit %>
  <br>
  <%= f.label :price_per_unit %><br>
  <%= f.text_field :price_per_unit %>
  <br>
  <%= f.label :starting_date %>
  <%= f.date_field :starting_date, value: Date.today, min: Date.today %>
  <br>
  <%= f.label :expiration_date %>
  <%= f.date_field :expiration_date, min: Date.today %>
  <br>
  <%= f.submit %>
<% end %>

