<h3><%= name_and_variety_to_s(@product) %></h3>
<p><%= simple_format(@product.description) %></p>
<%= qualifications_to_s(@product) %>

<h3>Active Postings</h3>
<% if @product.active_postings.present? %>
  <%= render 'shared/postings_list', postings: @product.active_postings %>
  <p><%= link_to 'Add new posting', farm_product_path(@product.farm, @product) %></p>
<% else %>
  <p>There are no active postings for this product. Click <%= link_to 'here', farm_product_path(@product.farm, @product) %> to add one!</p>
<% end %>

<h3>Past Postings</h3>
<% if @product.inactive_postings.present? %>
  <%= render 'shared/postings_list', postings: @product.inactive_postings %>
<% else %>
  <p>There are no past postings for this product.</p>
<% end %>

<%= form_for [@product, set_posting_default_price_and_unit(@posting)] do |f| %>
  <%= f.label :quantity%><br>
  <%= f.text_field :quantity%>
  <br>
  <%= f.label :unit %><br>
  <%= f.text_field :unit %>
  <br>
  <%= f.label :price_per_unit %><br>
  <%= f.text_field :price_per_unit %>
  <br>
  <%= f.label :starting_date %>
  <%= f.date_field :starting_date, value: Date.today, min: Date.today %>
  <br>
  <%= f.label :expiration_date %>
  <%= f.date_field :expiration_date, min: Date.today %>
  <br>
  <%= f.submit %>
<% end %>

<%= link_to 'back', farm_products_path(@product.farm) %>
