<h3> New Posting For <%= @product.name %></h3>

<%= form_for [@product, @posting] do |f| %>
  <%= f.label :quantity%><br>
  <%= f.text_field :quantity%>
  <br>
  <%= f.label :unit %><br>
  <%= f.text_field :unit %>
  <br>
  <%= f.label :price_per_unit %><br>
  <%= f.text_field :price_per_unit %>
  <br>
  <%= f.label :starting_date %>
  <%= f.date_field :starting_date, value: Date.today, min: Date.today %>
  <br>
  <%= f.label :ending_date %>
  <%= f.date_field :ending_date, min: Date.today %>
  <br>
  <%= f.submit %>
<% end %>

