<%= render 'shared/errors', object: @posting %>

<%= render 'shared/product_heading', product: @product %>

<%= render 'shared/active_and_inactive_postings_list', product: @product %>

<div class='row'>
  <div class='col-md-12'>
     <%= form_for [@product, set_posting_default_price_and_unit(@posting)] do |f| %>
      <%= f.label :quantity%><br>
      <%= f.text_field :quantity%>
      <br>
      <%= f.label :unit %><br>
      <%= f.text_field :unit %>
      <br>
      <%= f.label :price_per_unit %><br>
      <%= f.text_field :price_per_unit %>
      <br>
      <%= f.label :starting_date %>
      <%= f.date_field :starting_date, value: Date.today, min: Date.today %>
      <br>
      <%= f.label :expiration_date %>
      <%= f.date_field :expiration_date, min: Date.today %>
      <br>
      <%= f.submit %>
    <% end %>

    <%= link_to 'back', farm_products_path(@product.farm) %>
  </div>
</div>


