<div class='row'>
  <div class='col-md-6'>
    <h3>Active Postings</h3>
    <% if product.active_postings.present? %>
      <%= render 'shared/postings_list', postings: product.active_postings %>
      <% if params[:action] == 'show' %>
        <p><%= link_to 'Add new posting', new_product_posting_path(product) %></p>
      <% else %>
        <p><%= link_to 'Add new posting', farm_product_path(product.farm, product) %></p>
      <% end %>
    <% else %>
      <% if params[:action] == 'show' %>
        <p>There are no active postings for this product. Click <%= link_to 'here', new_product_posting_path(product) %> to add one!</p>
      <% else %>
        <p>There are no active postings for this product. Click <%= link_to 'here', farm_product_path(product.farm, product) %> to add one!</p>
      <% end %>
    <% end %>
  </div>
  <div class='col-md-6'>
    <h3>Past Postings</h3>
    <% if product.inactive_postings.present? %>
      <%= render 'shared/postings_list', postings: product.inactive_postings %>
    <% else %>
      <p>There are no past postings for this product.</p>
    <% end %>
  </div>
</div>
