<table>
  <thead>
    <th>product</th>
    <th>starting quantity</th>
    <th>quantity remaining</th>
    <th>price per unit</th>
    <th>post date</th>
    <th>expiration date</th>
    <th>total value</th>
  </thead>

  <tbody>
    <% postings.each do |posting| %>
    <tr>
      <% if params[:action] == 'index' %>
        <td><%= link_to name_and_variety_to_s(posting.product), farm_product_path(posting.product.farm, posting.product) %></td>
      <% else %>
        <td><%= name_and_variety_to_s(posting.product) %></td>
      <% end %>
      <td><%= quantity_to_s(posting) %></td>
      <td><%= "#{posting.quantity_remaining} #{posting.unit.pluralize}" %></td>
      <td><%= number_to_currency(posting.price_per_unit) %></td>
      <td><%= posting.starting_date %></td>
      <td><%= posting.expiration_date %></td>
      <td><%= number_to_currency(posting.total_value) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
