<% if user_signed_in? %>
  <% @farms.each do |farm| %>
    <% if farm.active_postings_by_date.present? %>
      <h4><%= farm.user.name.capitalize %></h4>
      <% farm.active_postings_by_name.each do |posting| %>
        <div class='listing' data-posting=<%= posting.id %>>
          <span><%= name_and_variety_to_s(posting.product) %> |</span>
          <span>quantity remaining: <%= quantity_to_s(posting) %> |</span>
          <span><%= quantity_per_unit(posting) %> |</span>
          <span><%= available_pickup_days_select(posting) %></span>
          <span><input type="text" class="quantity"> |</span>
          <span><button type='button' class='btn btn-success'>Add</button></span>
        </div>
      <% end %>
      <br>
    <% end %>
  <% end %>
<% else %>
  <p>Welcome to FarmToTable</p>
<% end %>
