<h3>Current Order</h3>
<% if @order.order_items.present? %>
  <table>
    <thead>
      <th>Item</th>
      <th>Farm</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Pickup Date</th>
      <th>Total Cost</th>
    <thead>
    <tbody>
      <% @order.order_items.each do |item| %>
        <tr>
          <td><%= name_and_variety_to_s(item.posting.product) %></td>
          <td><%= item.posting.product.farm.user.name %></td>
          <td><%= quantity_to_s(item) %></td>
          <td><%= quantity_per_unit(item) %></td>
          <td><%= item.pickup_date %></td>
          <td><%= number_to_currency(item.total_cost) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You haven't selected any products yet</p>
<% end %>
