<% if @order.order_items.present? %>
  <% @order.order_items_by_farm.each do |farm, items| %>
    <div class='farm'>
      <h4 class="farm-name"><%= farm %><h4>
    </div>
    <table class="table order-table">
      <tr class="order-heading">
        <th>product</th>
        <th>price</th>
        <th>in-stock</th>
        <th>pickup date</th>
        <th>order quantity</th>
        <th></th>
      </tr>
      <% items.each do |item| %>
      <%= form_for item do |f| %>
        <tr class='listing' data-posting=<%= item.posting.id %> data-order-item=<%= item.id %>>
          <td class='product-name'>
            <a href="#"><%= name_and_variety_to_s(item.posting.product) %></a>
          </td>
          <td>
            <%= quantity_per_unit(item) %>
          </td>
          <td>
            <%= item.posting.quantity_remaining_without_current_order(item.order) %>
          </td>
          <td class='pickup-day'>
            <%= f.select :pickup_date, available_pickup_days_select(item.posting, Date.tomorrow), include_blank: true %>
          </td>
          <td>
            <%= f.number_field :quantity, step: 0.5, class: 'quantity' %>
          </td>
          <td class='action-buttons'>
            <button type='button' class='update-order-item btn btn-primary'>Update</button><button type='button' class='remove-order-item-order-page btn btn-danger'>Remove</button>
          </td>
        </tr>
      <% end %>
    <% end %>
    </table>
  <% end %>
    <%= button_to 'complete order', organization_order_path(current_user.role, @order), method: :patch, data: {confirm: "Are you sure you want to complete your order?  You will not be able to go back and edit it once it is completed."}, class: 'btn btn-success order-button' %>
<% else %>
  <p class="centered">You haven't selected any products yet.</p>
<% end %>

