<% @farms.each do |farm| %>
  <% if farm.active_postings_with_order(@order).present? %>
    <div class='farm' data-farm=<%= farm.id %>>
      <h4 class="farm-name"><a href="#"><%= farm.user.name.capitalize %><span class="glyphicon glyphicon-plus additional-farm-info"></span></a></h4>
    </div>
    <table class="table order-table">
      <tr class="order-heading">
        <th>product</th>
        <th>price</th>
        <th>in-stock</th>
        <th>pickup date</th>
        <th>order quantity</th>
        <th></th>
      </tr>
      <% farm.active_postings_with_order(@order).each do |posting| %>
        <%= form_for setup_order_item(@order, posting) do |f| %>
          <tr class='listing' data-posting=<%= posting.id %> <% if f.object.persisted? %> data-order-item=<%= f.object.id %><% end %>>
            <td class='product-name'>
              <a href="#"><%= name_and_variety_to_s(posting.product) %></a>
            </td>
            <td>
              <%= quantity_per_unit(posting) %>
            </td>
            <td>
              <%= posting.quantity_remaining_without_current_order(f.object.order) %>
            </td>
            <td class='pickup-day'>
              <%= f.select :pickup_date, available_pickup_days_select(posting, Date.tomorrow), include_blank: true %>
            </td>
            <td>
              <%= f.number_field :quantity, step: 0.5, class: 'quantity' %>
            </td>
            <td class='action-buttons'>
              <% if f.object.persisted? %>
                <button type='button' class='update-order-item btn btn-primary'>update</button><button type='button' class='remove-order-item btn btn-danger'>remove</button>
              <% else %>
                <button type='button' class='add-order-item btn btn-success'>add to order</button>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <br>
  <% end %>
<% end %>



