<div class="farm-info">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <p><strong>name: </strong>{{name}}</p>
      <p><strong>description: </strong>{{description}}</p>
    </div>
    <div class="col-md-2">
      <p><strong>website: </strong><a href={{website}}>{{website}}</a></p>
      <p><strong>phone number: </strong>{{phone_number}}</p>
    </div>
    <div class="col-md-2">
      <p><strong>Monday: </strong>{{monday_hours}}</p>
      <p><strong>Tuesday: </strong>{{tuesday_hours}}</p>
      <p><strong>Wednesday: </strong>{{wednesday_hours}}</p>
      <p><strong>Thursday: </strong>{{thursday_hours}}</p>
    </div>
    <div class="col-md-2">
      <p><strong>Friday: </strong>{{friday_hours}}</p>
      <p><strong>Saturday: </strong>{{saturday_hours}}</p>
      <p><strong>Sunday: </strong>{{sunday_hours}}</p>
    </div>
  </div>
</div>
