<tr class="product-info">
  <td colspan=6>
    <div class="row">
      <div class="col-md-3">
        <img src={{image_url}}>
      </div>
      <div class="col-md-3">
        <p><strong>name: </strong>{{name}}</p>
        <p><strong>variety: </strong>{{variety}}</p>
      </div>
      <div class="col-md-6">
        <p><strong>expiration date: </strong>{{expiration_date}}</p>
        <p>{{qualifications}}</p>
      </div>
    </div>
  </td>
</tr>
