<%= form_for [@farm, @product] do |f| %>

  <%= render 'shared/errors', object: @product %>

  <div class="row">
    <div class="col-xs-5">
      <%= f.label :name, class: 'form-label' %>
    </div>
    <div class="col-xs-7">
      <%= f.text_field :name %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-5">
      <%= f.label :variety, class: 'form-label' %>
    </div>
    <div class="col-xs-7">
      <%= f.text_field :variety %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-5">
      <%= f.label :image, class: 'form-label' %>
    </div>
    <div class="col-xs-7">
      <%= f.file_field :image %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-5">
      <%= f.label :description, class: 'form-label' %>
    </div>
    <div class="col-xs-7">
      <%= f.text_area :description %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-5">
      <%= f.label :default_price, class: 'form-label' %>
    </div>
    <div class="col-xs-7">
      <%= f.text_field :default_price %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-5">
      <%= f.label :default_unit, class: 'form-label' %>
    </div>
    <div class="col-xs-7">
      <%= f.text_field :default_unit %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-5">
      <%= f.label :organic, class: 'form-label' %>
    </div>
    <div class="col-xs-7">
      <%= f.check_box :organic %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5">
      <%= f.label :non_gmo, "Non-gmo", class: 'form-label' %>
    </div>
    <div class="col-xs-7">
      <%= f.check_box :non_gmo %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5">
      <%= f.label :no_spray, "No-spray", class: 'form-label' %>
    </div>
    <div class="col-xs-7">
      <%= f.check_box :no_spray %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5">
      <%= f.label :low_spray, "Low-spray", class: 'form-label' %>
    </div>
    <div class="col-xs-7">
      <%= f.check_box :low_spray %>
    </div>
  </div>
  <br>
  <div class="form-submit"><%= f.submit 'submit', class: 'btn btn-primary' %></div>
<% end %>
