<!DOCTYPE html>
<html>
<head>
  <title>FarmToTable</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
  <%= link_to 'FarmToTable', root_path %>
  <% if current_user.role_type == 'Farm' %>
    <%= link_to 'create new product', new_farm_product_path(current_user.role) %> |
    <%= link_to 'view products', farm_products_path(current_user.role) %> |
    <%= link_to 'view postings', farm_postings_path(current_user.role) %> |
  <% elsif current_user.role_type == 'Organization' %>
    <%= link_to 'current order', new_organization_order_path(current_user.role) %> |
    <%= link_to 'view active orders', organization_orders_path(current_user.role) %> |
    <%= link_to 'active orders by pickup date', organization_organization_pickup_days_path(current_user.role) %> |
    <%= link_to 'order history', organization_order_history_index_path(current_user.role) %> |
  <% end %>
  signed in as <%= current_user.email %> |
  <%= link_to 'edit account', edit_user_registration_path %> |
  <%= link_to 'logout', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'sign in', new_user_session_path %> |
  <%= link_to 'sign up as a farm', farm_sign_up_path %> |
  <%= link_to 'sign up as an organization', organization_sign_up_path %>
<% end %>

<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
